body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  /* justify-content: space-between; */
}
form p {
  text-align: left;
  width: 310px;
  height: 20px;
  display: flex;
  justify-content: space-between;
} 

main {
  flex-grow: 1;
}


input {
  width: 10vw;
}

 #displaySignup {
  margin-left: 41.5%;
  margin-top: 5vw;
  
}

#Displaylogin {
  margin-left: 41.5%;
  margin-top: 3.8vw;
  
} 

#signupbutton:hover {
  color: white;
  background-color: rgb(92, 192, 92);
  text-transform: uppercase;
}

#loginbutton:hover {
  color: aliceblue;
  background-color: rgb(104, 197, 104);
  text-transform: uppercase;
}

button {
  padding: 4px;
}

#displaySignup:hover {
  text-decoration: underline;
  color: rgb(93, 93, 238);
}

#Displaylogin:hover {
  text-decoration: underline;
  color: rgb(93, 93, 238);
}

