* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(247, 247, 233);
}

main {
    flex-grow: 1;
    background: linear-gradient(to bottom, #31363F, #76ABAE);
    padding-top: 220px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(247, 247, 233);
}

.container{
    /* display: none; */
}
.container2{
    /* display: none; */
}

#iconContainer {
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #699799;
    background: linear-gradient(70deg, #444547, #76ABAE);
    border: 1px solid white;
    position: absolute;
    left: 36vw;
    top: 195px;
    padding: 5px;
    box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.815);
    /* gap: 50px; */
    z-index: 1;
}
#iconContainer img{
    width: 50px;
    /* background-color: #ffffff9b;
    border-radius: 30px;*/
    padding: 30px 2px; 
    /* height: 100px; */
    
}

.profileInfo {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* display: none; */
    background-color: rgb(0, 79, 32);
    background: linear-gradient(to right, rgb(15, 40, 43), rgb(59, 134, 115));
    /* padding: 5vw; */
    height: 450px;
    width: 30vw;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin-left: 34.5vw;
    margin-right: 34.5vw;
    border: 3px solid white;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
.inputContainer{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.profileInfo input{
    position: relative;
    /* bottom: 5px; */
    height: 25px;
    color: black;
    font-size: 16px;
    padding-left: 2px;
    font-weight: 500;
}

.updateInfo{
    position: relative;
    left: 6vw;
    background-color: white;
    color: green;
    font-size: 16px;
    padding: 3px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    /* height: ; */
    width: 70px;
}
.settingsInfo{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 85px;
    height: 450px;
    width: 30vw;
    /* position: absolute;
    left: 36vw;
    top: 195px; */
    /* background-color: rgb(34, 49, 40); */
    background: linear-gradient(to right, rgb(163, 189, 205), white);
    margin-left: 34.5vw;
    margin-right: 34.5vw;
    /* border: 3px solid whitesmoke; */
    /* color: white; */
    font-size: 25px;
    border-radius: 10px;
}
/* #logOut{
    display: flex;
    justify-content: center;
} */

#logOut{
    /* color: white; */
    background-color: #cac33aad;
    /* height: fit-content; */
    /* width: 100px; */
    /* width: fit-content; */
    /* align-self: center; */
    /* padding: 10px; */
    /* font-size: 16px; */
    font-weight: 600;
}
#changePassword{
    /* height: fit-content; */
    /* color: white; */
    /* width: fit-content; */
    /* border-radius: 25px; */
    /* padding: 10px; */
    /* font-size: 16px; */
    font-weight: 600;
    background-color: rgba(0, 128, 0, 0.67);
}
#delete{
    /* height: fit-content; */
    /* color: white; */
    /* width: max-content; */
    /* border-radius: 25px; */
    background-color: rgba(255, 0, 0, 0.645);
    /* padding: 10px; */
    /* font-size: 16px; */
    font-weight: 600;
}
.settingsInfo button{
    padding: 20px;
    /* border-radius: 20px; */
    font-size: 18px;
    color: rgb(255, 255, 255);
    /* filter: drop-shadow(0 0 5px black); */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 32vw;
    height: 154px;
    max-width: 490px;
    border: none;
    filter: grayscale(0.5);
    box-shadow: inset 0px 0px 30px 2px rgba(0, 0, 0, 0.087);
    transition: all 0.3s ease;
}
.settingsInfo button:hover{
    color: white;
    filter: grayscale(0);
    box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.57);
}