*{
  font: Arial;
  padding: 0;
  margin: 0;
}

#searchAndFilter{
  display: flex;
}

#searchBar{
  width: 80vw;
  height: 35px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 25px;
  padding-left: 7px;
  margin-left: 9vw;
}

#filterIcon img{
  width: 32px;
  position: relative;
  right: 40px;
  top: 2px;
}

#filter{
  color: white;
  position: relative;
  left: -30px;
  bottom: 10px;
  display: none;
  border: 1px solid white;
  border-radius: 2px;
  width: max-content;
  height: max-content;
  padding: 0 1px;
}

#filterIcon:hover ~ #filter{
  display: block;
}
#filterIcon:active ~ #searchBar{
  width: 50vw;
}

#filterSelection{
  display: none;
  background: transparent;
  background:linear-gradient(to bottom, rgb(14, 14, 14),75vh, gray);
  color: white;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 65px;
  padding-left: 0px;
  width:auto;
  flex-direction: column;
  gap: 10px;
  flex-basis: 0;
  overflow-y: scroll;
}

#filterContainerHeading{
  color: rgb(86, 240, 219);
  text-align: center;
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.filterSubHeadings{
  font-weight: 600;
  padding-bottom: 3px;
  font-size: 22px;
}
.filterOptions{
  padding-left: 15px;
  font-size: 20px;
}
.filterOptions p{
  margin: 5px 0;
  /* font-size: 18px; */
}
#citySelection{
  margin-left: 5px;
  /* font-size: 18px; */
}

.filters{
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#filtered{
  width: 100px;
  text-align: center;
  margin-left: 50px;
}

#SearchResults {
  width: 90vw;
  margin-top: 100px;
  margin-left: 4.8vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}

/* CSS for Card */
.card {
  flex-basis: 0 1 1;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.card:hover{
  background: linear-gradient(to bottom, rgb(77, 87, 94), white);
}

/* CSS for Card Title */
.cardTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

/* CSS for Card Image */
.card img {
  width: 100%; /* Make sure image fills the width of its container */
  border-radius: 5px;
  margin-bottom: 10px;
}

/* CSS for Card Description */
.cardDescr {
  margin-bottom: 10px;
}

/* CSS for Card Price */
.cardPrice {
  font-weight: bold;
  color: rgb(17, 155, 17);
  margin-bottom: 10px;
}

/* CSS for Card Rating */
.cardRating {
  font-style: italic;
  color: #888;
}

input[type="submit"]{
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
input[type="submit"]:active{
  background-color: gray;
  color: whitesmoke;
}

input[type="text"]{
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

input[type="number"]{
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}
hr{
  border-color: rgb(197, 159, 159);
  border-color: black;
  /* color: white; */
  /* margin-left: -5px; */
  /* padding-left: 0; */
<<<<<<< HEAD
}
=======
}
>>>>>>> 18528132f1c4cb325763186535784cd52aee5000
