@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

nav li {
    font-size: x-large;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    padding: 20vmin;
    background: linear-gradient(to bottom, rgb(18, 24, 28), rgb(0, 147, 147));
}

#container {
    display: none;
    width: fit-content;
    max-width: 50dvw;
    min-width: 600px;
    min-height: 90dvh;
    background-color: whitesmoke;
    border-radius: 30px;
    gap: 50px;
    padding: 2vw;
    position: relative;
}

#editListing {
    position: absolute;
    right: 40px;
    top: 80px;
    border: none;
    width: 80px;
    height: 25px;
    font-size: 14px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgba(109, 203, 109, 0.551);
}

#editListing:hover {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 01px 0px 10px 1px rgba(0, 0, 0, 0.581);
}

#editListing:active {
    border-right: 0;
    border-bottom: 0;
    box-shadow: 01px 0px 10px 1px rgba(0, 0, 0, 0.581);

}

.splitContainer {
    display: flex;
    justify-content: space-between;
}

#left {
    flex: 0 1 1;
    flex-grow: 1;
    width: 50%;
    line-height: 30px;
    /* background: black; */
}


#right {
    flex: 0 1 1;
    flex-grow: 1;
    line-height: 30px;
    gap: 10px;
    /* background: red; */
}

#right p::before {
    height: 20px;
    filter: grayscale(0.5);
    width: 20px;
    top: 0;
    left: -25px;
    object-fit: contain;
    background-size: contain;
}

#container p {
    font-family: "arial", sans-serif;
    font-size: 1em;
}

#title {
    font-weight: 800;
}

#container #owner {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.9em;
}

#owner::before {
    content: "By: ";
    font-size: medium;
    font-weight: bolder;
}

#image {
    padding: 5vmin;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    max-height: clamp(100px, 50dvh, 100dvh);
    box-sizing: border-box;
}

#description {
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 50px 0;
}

#location::before {
    content: "Address: ";
    font-weight: bolder;
}

#contact::before {
    content: "Contact Info: ";
    font-weight: bolder;
}

#smoking::before {
    content: "Smoking: ";
    font-weight: bolder;
}

#term::before {
    content: "Term: ";
    font-weight: bolder;
}

#availability::before {
    content: "Availability: ";
    font-weight: bolder;
}

#category::before {
    content: "Category: ";
    font-weight: bolder;
}

#rating {
    position: relative;
    display: inline;
}


#rating::before {
    content: "";
    background-image: url(../assets/rating.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: -46px;
    height: 35px;
    width: 40px;
    display: block;
    mix-blend-mode: multiply;
}

#seating {
    position: relative;
    display: inline;
}

#seating::before {
    content: "";
    background-image: url(../assets/seat.jpeg);
    background-size: 100%;
    position: absolute;
    top: -2px;
    left: -65px;
    height: 30px;
    width: 40px;
    display: block;
    mix-blend-mode: multiply;
}

#reviews {
    position: relative;
    display: inline;
}

#reviews::before {
    content: "";
    background-image: url(../assets/review.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -2px;
    left: -49px;
    height: 35px;
    width: 30px;
    display: block;
    mix-blend-mode: multiply;
}

#price {
    position: relative;
    display: inline;
}

#price::before {
    content: "";
    background-image: url(../assets/dollar.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -2px;
    left: -45px;
    height: 30px;
    width: 20px;
    display: block;
    mix-blend-mode: multiply;

}


/* #left{
    position: relative;
 right: 100px;
 top: 225px;
}

#right{
    position: relative;
    top: 100px;
    left: 100px ;
}

#listingInfo p{
    font-size: x-large;
    
}
 */

.slider-container {
    margin-top: 20px;
}

/* #editListing{
  /* display: none; */

.slider {
    width: 200px;
}

#sliderValue {
    margin-top: 10px;
}

/* #containerInput{
    position: relative;
    display: flex;
} */

/* #containerInput{
    position: relative;
    top: 80%;
    min-width: 50dvw;
    min-height: 90dvh;
    background-color: whitesmoke;
    border-radius: 30px;
    gap: 50px;
    padding: 2vw;

} */
/* 
#containerInput{
    position: absolute;
    top: 130%;
    display: flex;
  min-width: 50dvh ;
   min-height: 90dvh

}

 #submitEdit{
    position: absolute;
    display: inline-block;
    width: 20px;
    right: 0%;

    
    top: 120%;
} */

#containerInput {
    display: flex;
    /* display: none; */
    height: 800px;
    width: 45vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(in circle, rgb(255, 255, 255), 20vw, rgb(255, 241, 204));
    background: transparent;
    position: relative;
    min-width: 600px;
    border-radius: 35px;
}

#listingInfoInput {
    display: flex;
    /* display: none; */
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

#listingInfoInput input {
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    border: 2px solid black;
}

#listingInfoInput textarea {
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    border: 2px solid black;
}

#listingInfoInput #imageInput {
    border: none;
}

.splitContainer {
    display: flex;
    /* display: hidden; */
    flex-direction: row;
    width: 80%;
    /* gap: 80px; */
    justify-content: space-between;
    /* align-items: ; */
    gap: 20px;
}

#leftInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#leftInput p{
    display: flex;
    justify-content: last baseline;
    gap: 10px;
    align-items: center;
}
#rightInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#leftInput input,
#rightInput input {
    height: 25px;
    width: 15vw;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
}

/* #rightInput #priceInput:focus{
    initial-value: "$";
} */
#containerInput #submitEdit {
    width: 100px;
    height: 40px;
    color: white;
    /* background-color: rgb(39, 33, 33); */
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    /* border-radius: 20px; */
    position: absolute;
    bottom: 63px;
    z-index: 999;
}
#containerInput #submitEdit:active{
    color: black;

}

#editListingHeader {
    color: black;
    text-shadow: 1px -1px 0 #fff;
    text-decoration: underline;
    /* font-weight: 500; */
}




.rate{
    display: flex;
    flex-direction: column;background-color: white;
    /* width: 25vw; */
    /* border: 5px solid rgba(0, 0, 0, 0.8); */
    padding:3vw 7vw;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.898),rgba(0, 0, 0, 0.619));
}
.rate h4{
    font-size: 30px;
}
.rate .slider-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
}
.rate input{
    width: 10vw;
    /* padding-bottom: 40px; */
}
.rate #sliderValue{
    font-size: 20px;
    position: absolute;
    top: 23px;
    right: -15px;
}
.rate textarea{
    width: 18vw;
    /* height: 200px; */
    height: 150px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.rate #addRating{
    margin-top: 50px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(83, 30, 39);
}
.rate #addRating:active{
    color: white;
    background-color: rgb(83, 30, 39);
    /* border:1px solid white; */
}


#leftInput p #smokingInput{
    /* height: 20px; */
    width: 20px;
    border-radius: 0px;
    /* border: none; */
    padding-left: 0px;
}

#buttonBackground{
    width: 100px;
    opacity: 0.6;
    /* position: absolute;
    bottom: 65px;
    z-index: 1; */
}
.contactOwner{
    margin-top: 30px;
    display: flex;
    justify-content: right;
}