* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body{


      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color:white;
     
  }

nav {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  /* rgb(182, 182, 99); */
  height: 65px;
  align-items: center;
  font-size: 23px;
  padding: 0 2vw;
  box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
main{
  flex-grow: 1;
}

nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: black;
}

pages {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 10px; */
  max-width: 60vw;
}

pages li a {
  text-decoration: none;
}

pages li {
  list-style-type: none;
}
nav li input {
  height: 25px;
}

nav li img {
  position: relative;
  top: 20vw;
  right: 31px;
  width: 20px;
  padding: 0 3vw 0 0;
  position: relative;
  top: 5px;
}

/* main {
  margin-left: 7vw;
} */

main p {
  font-size: large;
}

footer {
  margin-top: 0;
  height: 5vw;
  display: flex;
  background-color: white;
  /* rgb(182, 182, 99); */
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  font-size: large;
  box-shadow: 0px -4px 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#loginPopUp {
  padding: 0.5vw;
}

#searchIconPNG{
  box-sizing:content-box;
}