* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* color: white; */
  /* gap: 2vw; */
  /* background-color: white; */
  /* rgb(182, 182, 99); */
  height: 65px;
  align-items: center;
  font-size: 22px;
  padding: 0 2vw;
  color: whitesmoke;
  z-index: 2;
  background: transparent;
}

main {
  flex-grow: 1;
  padding-top: 150px;
  padding-bottom: 100px;
}

nav li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: white;
}

pages {
  /* flex-grow: 1; */
  display: flex;
  /* justify-content: space-evenly; */
  gap: 8vw;
  margin-left: 15vw;
  align-items: center;
  /* gap: 10px; */
  /* max-width: 60vw; */
  /* min-width: none; */
}

pages li a {
  text-decoration: none;
}

pages li {
  list-style-type: none;
}
search input{
height: 29px;
margin-top: 24px;
margin-left: 10vw;
border: 1px solid black;
border-radius: 5px;
/* position: relative; */
}
search img{
  width: 20px;
  position: relative;
  top: -24.5px;
  right: -142px;
  margin-left: 10vw;
}
nav li img:active{
  width: 20.3px;
}

main p {
  font-size: large;
}

footer {
  margin-top: 0;
  height: 100px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.938);
  /* background: transparent; */
  color: white;
  /* rgb(182, 182, 99); */
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  /* font-size: large; */
  /* box-shadow: 0px -4px 20px 20px rgba(0, 0, 0, 0.4); */
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.89),rgb(0, 0, 0)); */
  z-index: 1;
  font-size: 16px;
  border: none;
}
footer p{
  font-weight: thin;
  /* font-stretch: 30px; */
}

#loginPopUp {
  padding: 0.5vw;
}

#searchIconPNG {
  box-sizing: border-box;
}