body{
    background-color: rgb(247, 247, 233);
}
form{

    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    /* justify-content: space-between; */
}
form p{
    text-align: left;
    width: 310px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

form :nth-child(1){
    margin-bottom: 3vh;
    margin-left: 2vw;
}
input{
    width: 10vw;
}

footer{
    margin-top: 8.3%;
    font-size: large;
}

#signup{
    margin-left: 41.5%;
    margin-top: 5vw;
}

#login{

    margin-left: 41.5%;
    margin-top: 3.8vw;
}

  #signupbutton:hover
  {
    color: white;
   background-color: rgb(92, 192, 92);
   text-transform: uppercase;
  }

  button{
    padding: 4px;
  }